@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/prosemirror-example-setup/style/style.css";
@import "../node_modules/prosemirror-gapcursor/style/gapcursor.css";
@import "../node_modules/prosemirror-menu/style/menu.css";
@import "../node_modules/prosemirror-view/style/prosemirror.css";

/* This file is for your main application CSS */

@font-face {
    font-family: "AnonymousPro";
    src: url("/fonts/AnonymousPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AnonymousPro";
    src: url("/fonts/AnonymousPro-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

.ProseMirror>p {
    @apply my-3
}
.ProseMirror>ul {
    @apply my-3 list-disc
}
.ProseMirror>ol {
    @apply my-3 list-decimal
}

.ProseMirror {
    @apply p-1
}

.menu-item {
    @apply block px-2 py-2 text-sm font-brand font-regular text-ccGrey overflow-hidden
}

.menu-item:hover {
    @apply text-ccGrey-light 
}

form input[type="text"] {
    @apply font-brand font-regular text-ccGrey text-xs border border-ccGrey-light
}

form input[type="text"]:focus {
    @apply outline-none border-ccGrey ring-0
}


.create-button {
    @apply bg-ccGreen border-ccGrey text-ccWhite-light text-base font-brand font-bold
}

.create-button:hover {
    @apply hover:bg-ccGreen-light
}

.dropdown-menu-arrow::before {
    content: "";
    position: absolute;
    top: -5px;
    left: calc(95% - 12px);
    border-width: 0px 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent #5C6166 transparent ;
}


.round-image-padding {
    border-radius: 50%;
    border: 1.5px solid #5C6166;
    padding: 2px;
}

.image-down-arrow::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 45%;
    transform: translateY(-50%);
    border-width: 3px 3px 0 3px;
    border-color: #5C6166 transparent transparent transparent;
    border-style: solid;
}

.interactive-img-button {
    filter: brightness(80%);
}

.interactive-img-button:active {
    transform: scale(110%);
}